<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color: var(--clr-h1-and-bold);
      text-decoration: none;
    }

    ul.link a:hover,
    a:focus {
      color: var(--clr-a-text-hvr);
    }

  </style>
  <ul class="link">
    <li><a href="https://github.com/hepaestus"><i class="fab fa-github"></i> My GitHub</a></li>
    <li><a href="https://twitter.com/hepaestus"><i class="fab fa-twitter"></i> Twitter Feed</a></li>
    <li><a href="{{ '/blog' | absolute_url }}"><i class="fas fa-feather-alt"></i> 3D Printing Blog</a></li>
    <li><a href="https://github.com/hepaestus/3d-printing"><i class="far fa-bookmark"></i> Project Repository</a></li>
  </ul>
</div>
