---
layout: default
tags: blog
categories: blog
---

<div class="post-navigation">
  {% if page.previous %}
    <small><a href="{{ page.previous.url | absolute_url }}">previous</a></small> |
  {% endif %}

  <small><a href="{{ '/' | absolute_url }}" alt="back home">back home</a></small>

  {% if page.next %}
   | <small><a href="{{ page.next.url | absolute_url }}" alt="next post">next</a></small>
  {% endif %}
</div>

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h2>{{ page.title }}</h2>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.categories %}
<div>
  <small>categories: <em>{{ page.categories | join: "</em> - <em>" }}</em></small>
</div>
{% endif %}

{% if page.tags %}
<div>
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
</div>
{% endif %}

<hr/>
<div>
  <small>
    <a href="{{ "/" | absolute_url }}" alt="back home">back home</a>
  </small>
</div>
