---
layout: default
tags: blog
categories: test
---

<div>
  <small>
    <a href="/" alt="back home">back home</a>
  </small>
</div>

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h2>{{ page.title }}</h2>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.categories %}
<div>
  <small>categories: <em>{{ page.categories | join: "</em> - <em>" }}</em></small>
</div>
{% endif %}

{% if page.tags %}
<div>
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
</div>
{% endif %}

<hr/>
<div>
  <small>
    <a href="/" alt="back home">back home</a>
  </small>
</div>
